* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: Arial, Helvetica, sans-serif;
}


:root {

    --maniaGreen: #0E8585;
    --maniaDarkGreen: #184B4B;
    --maniaLightGreen: #009494;
    --maniaGray: #444444;
    --maniaLogoColor: linear-gradient(181.05deg, #17ACAC 0.9%, #000000 294.55%);
    --maniaPink: rgba(255, 66, 66, 1);
}

.text-green {
    color: var(--maniaGreen);
}
.text-gay {
    color: var(--maniaGray);
}

.text-center {
    text-align: center;
}

.magin-right {
    margin-left: 50px;
}
.underline{
    text-decoration: underline;
}


header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;


}

.mylogo {
    font: 2rem Arial, Helvetica, sans-serif;
    font-weight: bold;

    color: var(--maniaGreen);

    background: var(--maniaLogoColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    tab-size: 40px;
    padding: 5px;
    margin-top: 10px;
}

header .mylogo:hover {
    color: var(--maniaGreen);
}

header a,
header select {
    /*logo and tabs*/
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px;
    font: 24px Arial, Helvetica, sans-serif;
    font-weight: bold;

}


header .mynavbar .leftTabs {
    margin-right: 70px;
    margin-top: 10px;
}

nav .rightTabs {
    font-size: 20px;
    line-height: 25px;


}

header .mynavbar {
    display: flex;
    margin-top: 20px;

}

nav .cart {
    color: var(--maniaGreen);
    font-size: 30px
}

header .mynavbar .leftTabs a,
header .mynavbar .leftTabs select {
    /*tabs only*/
    color: var(--maniaGray);
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px;
    line-height: 30px;

}

header .mynavbar .leftTabs select {
    border: none;
    font-weight: bold;
    font: Arial, Helvetica, sans-serif;

}

header .mynavbar .leftTabs a:hover,
header .mynavbar .leftTabs select:hover {
    border-bottom: 3px solid var(--maniaGreen);
    cursor: pointer;
}


nav .rightTabs a {
    margin: 0px 10px;
}

nav .rightTabs #login:hover {

    color: var(--maniaDarkGreen);

}

nav .rightTabs #register:hover {
    background-color: var(--maniaDarkGreen);
}



nav .rightTabs #login {
    text-decoration-line: underline;
    color: var(--maniaGreen);
}

nav .rightTabs #register {
    color: white;
    background-color: var(--maniaGreen);
    border-radius: 10px;
    padding: 10px 20px;
}
/*n2*/


.nav2{
    /*display: flex;*/
    display: none; /*comment this to appear*/
}
.nav2 .rightTabs{
    position: absolute;
    right: 5px;
}
.nav2 .back{
    color: var(--maniaGreen);
    text-decoration: underline;
    font-size: larger;
    margin: 10px;
}
.nav2 .back i{
    margin: 10px;
}
.nav2 .mylogo{
    margin: 0px auto;

}
/* end of navbar*/
.course {
    padding: 50px;
    border: 1px solid rgba(220, 219, 219, 0.351);
    border-radius: 10px;
    margin: 50px;
    margin-bottom: 250px;
    min-height: 400px;
    min-width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.course .enroll {
    display: flex;
}

.course .enroll .card {
    position: absolute;
    border: 1px solid #0E8585;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 10px;
    background-color: white;

}

.course .card-footer {
    position: absolute;
    background-color: var(--maniaPink);
    color: white;
    margin-left: 50%;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    font-size: 32px;
    width: 100px;
    height: 50px;

    right: 0px;
    bottom: 0px;


}

.enroll {
    display: flex;
    margin: 40px auto;

}
.clip{
    margin: 10px;
}
.enroll .stars {
    position: absolute;
    right: 10px;

}

.enroll .stars img {
    padding: 1rem .1rem;
    width: 27px;
}

.enroll .enrollBtn {
    position: relative;
    left: 100px;
    background-color: var(--maniaLightGreen);
    margin: 70px auto 10px auto;
    padding: 10px 15px;
    width: 250px;
    height: 70px;
    border: 1px solid #178C8C;
    border-radius: 5px;
    color: white;
    font-size: 30px;
}

/**/


.details .detailsParagraph {
    background: linear-gradient(180deg, #444444 0%, rgba(117, 117, 117, 0) 161.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.lessons{
    margin: 20px 0px;
}
.lessons h3 span {
    color: var(--maniaLightGreen);
}

.lessons p {
    color: var(--maniaGray);
}

/**/
.reviewStars {
    /*
    position: absolute;
    right: 10px;*/
    background-color: var(--maniaGreen);
    height: 40px;
    width: 180px;
    text-align: center;

}

.reviewStars img {
    padding: 10px .1rem;
    width: 25px;

}

.revInp {
    display: flex;
}

.revInp a {
    margin: 10px;
    color: var(--maniaGray);
}
.revInp input {
    width: 400px;
    height: 40px;

}

/**/
.end{
    position: absolute;
    right: 5px;
    margin: 10px 5px;
}
.end img {
    width: 200px;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color: var(--maniaDarkGreen);
    color: white;
    text-transform: capitalize;
    font: 15px Arial, Helvetica, sans-serif;


}

footer .left {
    display: flex;
    flex-direction: row;
}

footer .left div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

footer .left div a {
    padding: 7px;

}

footer .left div a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer .right {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
}

footer .right a {
    padding: 0px 10px;
    font-size: larger;
}

footer .right a i:hover {
    font-weight: bold;
    cursor: pointer;
}




/* */
@media(max-width:1250px) {
    header .rightTabs {
        margin-top: 10px;

    }

    header .rightTabs a {
        font-size: smaller;
        margin-right: 1px;
        margin-left: 0px;

    }

    header .leftTabs {
        margin-right: 0px;

    }
}

@media(max-width:1050px) {

    header .mynavbar .leftTabs {
        margin-right: 5px;
    }

    header .rightTabs a {
        font-size: smaller;

    }


    header .mynavbar .leftTabs a,
    header .mynavbar .leftTabs select {

        padding: 3px 10px;
    }

    header .rightTabs #register {

        padding: 10px 10px;
    }
}

@media(max-width:890px) {
    header .mynavbar {
        margin-top: 50px;
    }

    header .mynavbar .leftTabs a,
    header .mynavbar .leftTabs select,
    header .rightTabs a {

        font-size: smaller;
    }

    .enroll .enrollBtn {
        padding: 10px 13px;
        width: 190px;
        height: 60px;
        font-size: 25px;
    }
   .reviewStars,.revInp input{
    height: 70px;
   }
   .reviewStars img{
    padding: 1px;
    width: 20px;
}
.mynavbar .rightTabs{
 margin:auto;
}
   
}

@media(max-width:650px) {
    header .mynavbar {
        margin: auto 0px ;

    }

    
    .enroll .enrollBtn {
        left: 125px;
        padding: 7px 10px;
        width: 150px;
        height: 50px;
        font-size: 20px;
       
    }

    .course {
        margin: 120px 3px 250px 3px;
        
        width: 100%;
    }
    .course .enroll .card {
    width: max-content;
    }

    .reviewStars,.revInp input{
        height: 120px;
       }

}